{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hero.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/quick_links.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/welcome_section.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/news_section.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/events_section.css' %}">
{% endblock extra_css %}

{% block content %}
{% include 'components/hero.html' %}
{% include 'components/quick_links.html' %}

<!-- Ensure welcome section is always visible -->
{% include 'components/welcome_section.html' %}

{% for block in page.body %}
  {% include_block block %}
{% endfor %}

<!-- Ensure events section is always visible -->
{% include 'components/events_section.html' %}
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/hero.js' %}"></script>
<script type="text/javascript" src="{% static 'js/welcome_section.js' %}"></script>
<script type="text/javascript" src="{% static 'js/quick_links.js' %}"></script>
<script type="text/javascript" src="{% static 'js/news_section.js' %}"></script>
<script type="text/javascript" src="{% static 'js/events_section.js' %}"></script>
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock extra_js %}